[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
watchdog = "==0.9.0"
click = "*"
structlog = "*"
colorama = "*"

[requires]
python_version = "3.6"
